body {
    font-family: 'Times New Roman', Times, serif;
    background: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 500px;
    display: grid;
    place-items: center;
}


.card {
    display: grid;
    background: #7FFF00;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    place-items: center;
}

input {
    width: 320px;
    margin: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 12px;
    cursor: pointer;
    place-self: center;
    font-size: 18px;
    border-radius: 8px;
    border: solid 1px black;
}

button:hover {
    background: #00FA9A;
}

.hidden {
    display: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}


.auth-form {
    margin-top: 20px;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 40px;
}



